[httpd_db_handlers]
_spatial_cleanup = {geocouch_http, handle_cleanup_req}

[httpd_design_handlers]
_spatial = {geocouch_http, handle_spatial_req}
_spatial/_list = {geocouch_show, handle_spatial_list_req}
_spatial/_info = {geocouch_http, handle_info_req}
_spatial/_compact = {geocouch_http, handle_compact_req}
